<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	data-bs-theme="dark">

  
    <section th:fragment="dialectLayoutCredit1"class=" pt-5 pb-5 bg-dark text-light">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h3 class="display-5 mb-4">Our Team</h3>
          </div>
        </div>
        <div class="row text-center mt-md-5 justify-content-center">
          <div class="col-md-4 col-12 mb-5">
            <img alt="image" class="img-fluid rounded-circle mt-3 mb-4 shadow"
              src=" https://dummyimage.com/200/007bff/ffffff">
            <h3><strong>Juan Doe</strong></h3>
            <p>Position</p>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <div class="mb-1 mt-2 me-3 align-self-center pt-4 d-block">
              <a href="#" role="button" class="  p-2 m-2">
                <i class="fab fa-twitter fa-md text-primary"
                  aria-hidden="true"></i>
              </a>
              <a href="#" role="button" class="  p-2 m-2">
                <i class="fab fa-facebook fa-md  text-primary"
                  aria-hidden="true"></i>
              </a>
              <a href="#" role="button" class="  p-2 m-2">
                <i class="fab fa-linkedin fa-md  text-primary"
                  aria-hidden="true"></i>
              </a>
              <a href="#" role="button" class="  p-2 m-2">
                <i class="fab fa-google-plus fa-md  text-primary"
                  aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-12 mb-5">
            <img alt="image" class="img-fluid rounded-circle mt-3 mb-4 shadow"
              src=" https://dummyimage.com/200/007bff/ffffff">
            <h3><strong>Jane Doe</strong></h3>
            <p>Position</p>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <div class="mb-1 mt-2 me-3 align-self-center pt-4 d-block">
              <a href="#" role="button" class="  p-2 m-2">
                <i class="fab fa-twitter fa-md text-primary"
                  aria-hidden="true"></i>
              </a>
              <a href="#" role="button" class="  p-2 m-2">
                <i class="fab fa-facebook fa-md  text-primary"
                  aria-hidden="true"></i>
              </a>
              <a href="#" role="button" class="  p-2 m-2">
                <i class="fab fa-linkedin fa-md  text-primary"
                  aria-hidden="true"></i>
              </a>
              <a href="#" role="button" class="  p-2 m-2">
                <i class="fab fa-google-plus fa-md  text-primary"
                  aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
   

</html>